<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="background-image fadein"></div>
    <ul id="background">
      <li class="fadein"></li>
    </ul>
    <div class="widgets">
      <div id="top-left">Test</div>
      <div id="top-right"> <%= react_component('WeatherWidget') %> </div>
      <div id="center-top"></div>
      <div id="center-middle"> <%= react_component('ClockWidget') %> </div>
      <div id="center-bottom"> <%= react_component('JokesWidget') %> </div>
      <div id="bottom-left"></div>
      <div id="bottom-right"></div>
    </div>
  </body>
</html>
